// Your variable overrides
$body-bg: white;
$body-color: black;
$primary: #c33632;
$font-family-base: Arial;
$jumbotron-padding: 0;
$link-hover-color: white;
$link-color: white;
$link-hover-decoration: none;

header {
  background-image: linear-gradient(70deg, white 80%, #c33632 20%);
}

.jumbotron {
  background-image: linear-gradient(70deg, white 60%, #ae2520 40%);
  height: auto;
}

.li-connected {
  padding: 10px;
  list-style-type: none;
}

.intro {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

hr {
  max-width: 800px;
  height: 5px;
  margin: 0 auto;
  color: red;
  background: red;
}

.svg-center {
  text-align: center;
  padding-top: 20px;
}

.connection-svg-padding {
  padding: 2px;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
