// Your variable overrides
$body-bg: white;
$body-color: black;
$primary: #ae2520;
$font-family-base: Arial;
$jumbotron-padding: 0;
$link-hover-color: white;
$link-color: white;
$link-hover-decoration: none;
$carousel-indicator-active-bg: darkgrey;
$carousel-control-color: #ae2520;
$link-color: #ae2520;
$link-hover-color: black;
$card-cap-bg: white;

header {
  background-image: linear-gradient(70deg, white 80%, #ae2520 20%);
}

.jumbotron {
  background-image: linear-gradient(70deg, white 60%, #ae2520 40%);
  height: auto;
}

.li-connected {
  padding: 10px;
  list-style-type: none;
}

.intro {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

hr {
  max-width: 800px;
  height: 5px;
  margin: 0 auto;
  color: #ae2520;
  background: #ae2520;
}

.svg-center {
  text-align: center;
  padding-top: 20px;
}

.connection-svg-padding {
  padding: 2px;
}

.table-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.th-width {
  width: 800px;
}

.th-padding {
  padding-right: 20px;
}
// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
